<br>
<br>

<center>
<h1 class="title is-2 has-text-danger">Contacto</h1>

<figure class="image">
    <%= image_tag("city.jpg", width: 100)%>
</figure>


<div class="columns is-centered">

    <div class="column has-background-danger-light has-text-danger">
    <a class= 'is-size-3 has-text-danger' >Información de Contacto:</a>
    <br>
    <p>Teléfono de Contacto: +56981439539 / +5623576151</p>
    <p>Correo: info@rails.com</p>
    <p>Dirección: Baquedano N° 439. Ancud, Chiloé.</p>
    <br>
    <a class= 'is-size-3 has-text-danger' >Localización Sucursal:</a>
    <div class="map-container", height: 180px>
    
    <meta charset="utf-8">
    <title>Customize the scroll-bar</title>
  
            <center>
                
                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11478.342281191999!2d-73.83708346253255!3d-41.86567046756893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x962292a7b7309727%3A0xc92ceb854fa75b78!2sGral.%20Baquedano%20439%2C%205710033%20Chiloe%2C%20Ancud%2C%20Los%20Lagos!5e0!3m2!1ses-419!2scl!4v1668563341093!5m2!1ses-419!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                            height="300"
                            frameborder="0"
                            style="border:0;"
                            allowfullscreen=""
                            aria-hidden="false"
                            tabindex="0">
                    </iframe>
                </div>
            </center>

    
    </div>
    </div>
    

 </div>

