<br>
<br>

<center>
<h1 class="title is-2 has-text-danger">Misión</h1>

<figure class="image">
    <%= image_tag("cine_3.jpg", width: 100)%>
</figure>


    <div class="column is-centered has-background-danger-light has-text-danger">
    <a class= 'is-size-3 has-text-danger' >
    "Nuestro sueño es ser la mejor compañía de arriendo de películas del mundo"</a>
    <br>
    </div>
<br>
<br>



