
<br>
<br>

<center>
<h1 class="title is-2 has-text-danger">Visión</h1>

<figure class="image">
    <%= image_tag("cine.jpg", width: 100)%>
</figure>



    <div class="column is-centered has-background-danger-light has-text-danger">
    <a class= 'is-size-3 has-text-danger' >
    "Queremos ser una compañía que entregue alegría y entretenimiento a sus usuarios"</a>
    <br>
</div>
 <br> 
 <br>
